rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access on all documents for ease of development/demo
    // User requested to remove all permission blocks for fast and efficient registration.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
